{% extends "base.html" %}

{% block title %}search results{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ MEDIA_URL }}search.css" typer="text/css" />
{% endblock stylesheets %}

{% block main %}
<table class="searchResults">
<tr id="searchResults">
    <th> </th>
    <th>TITLE </th>
    <th>GOALS </th>
    <th>PROFESSOR </th>
    <th>INSTITUTION </th>
    <th> </th>
</tr>
{% for result in searchResults %}
{{ result.rendered }}
{% endfor %}
</table>
{% endblock main %}

