{% extends "search/base.html" %}
{% block stylesheets2 %}
<script type="text/javascript">
{% include "search/generic_search_javascript.js" %}
</script>
{% endblock stylesheets2 %}

{% block searchform %}
  <div class="searchbar-item" style="padding-left:10px;">
    <input id="addr" type="text" name="addr" value="{{ addr }}" onfocus="clear_box(this)" onblur="move_box(this)" />
  </div>
  <div style="width:90px;margin-left:10px;" class="searchbar-item">
    <span style="font-weight:bold; font-size:8pt;">Start date</span>
    <input id="start_date" type="text" name="start_date" value="mm/dd/yyyy" value="{{ what }}" onfocus="clear_box(this)" onblur="move_box(this)" />
  </div>
  <!-- <input type="text" name="what" value="{{ what }}" /> -->
  <div class="searchbar-item">
    <button type="submit" id="imagebutton">
      <img src="{{ MEDIA_URL }}img/searchbuttonA.png" alt="submit" />
    </button>
  </div>
  <input type="hidden" name="what" value="{{ what }}" />
{% endblock searchform %}

{% block searchname %}meetings{% endblock searchname %}

{% block searchlist %}
  {% include "search/incl/meeting_list.html" %}
{% endblock searchlist %}

{% block searchright %}
<div id="right">
<div id="searchmap">
<div id="map_canvas" style="width: 100%; height: 300px;"></div>
</div>
</div>
{% endblock searchright %}

