{% extends "about/base.html" %}
{% block about %}About{% endblock about %}

{% block left %}
<h1>What is CoClass?</h1>
{#<p>MIT, Stanford, and other prestigious institutions have uploaded high quality recordings and materials for thousands of courses available for free online.</p>#}
<p>CoClass allows you to meet up with people near you and organize a schedule to watch online lectures and hold discussion groups.</p>

<h1>What is an Expert?</h1>
<p>Hire an Expert to grade homework assignments and tests and answer questions about the course.</p>
{% endblock left %}
