{% extends "host/base_edit.html" %}
{% block title %}Editing{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ MEDIA_URL }}sty/make.css" type="text/css" />
<script type="text/javascript">
  {% include "host_js" %}
</script>
{% endblock stylesheets %}

{% block left %}
<div id="make">
  <form method="post" action="." enctype="multipart/form-data">
    <h3>Course information</h3>
    <table>
      {% if host_class.course.published %}
      <p>You are hosting a published course.</p>
      <p>Click to <a href="/h/fork/{{ host_class.b36 }}/"><b>modify</b></a> {{ host_class.course.title }}</p>
      {% else %}
      {{ course_form.as_table }}
      {% endif %}
    </table>
    <h3>Place</h3>
    {% include "place_form_selector.html" %}
    {{ session_form.errors }}
    <h3>Hosting information</h3>
    {% include "host/session_form.html" %}
    <h3>Privacy information</h3>
    {% include "host/priv_form.html" %}
    <button>Edit</button>
  </form>
</div>
{% endblock left %}

