{% extends "base.html" %}
{% block title %}Lost password{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ MEDIA_URL }}sty/signin.css" type="text/css" />
{% endblock stylesheets %}

{% block main %}  
  <div id="mainLeftSign">
    {{ form.errors }}
    <form action="." method="POST">
      <table>
        <tr>
          <td>New Password</td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>Confirm Password</td>
          <td>{{ form.new_password2 }}</td>
        </tr>
      </table>
      <button name="change">Change my password</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
  <div id="mainRightSign">
    <h4>Need an account?</h4>
    <p><a href="/signup/">Sign up</a></p>
  </div>
{% endblock main %}    

